.nowPlayingPane {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  background: #202020b8;
}
.albumArt {
  margin-left: 5px;
}
.musicDetails {
  margin-left: 5px;
}
.musicName {

}
.artistName {
  opacity: 0.6;
}