.searchPane {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  padding: 7px;
  backdrop-filter: blur(20px);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  z-index: 1111;
  background: #202020b8;

}
.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  height: 35px;
  border-radius: 4px;
  width: 400px;
  overflow: hidden;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}
.searchButton {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  font-size: 16px;
  width: 50px;
  flex-shrink: 0;
  cursor: pointer;
  padding-top: 5px;
}